body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(20% 0 0);
  --color-base-200: oklch(18% 0 0);
  --color-base-300: oklch(16% 0 0);
  --color-base-content: var(--color-zinc-100);
  --color-primary: var(--color-white);
  --color-primary-content: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-700);
  --color-secondary-content: var(--color-neutral-200);
  --color-accent: var(--color-teal-400);
  --color-accent-content: var(--color-teal-950);
  --color-neutral: var(--color-neutral-700);
  --color-neutral-content: var(--color-neutral-200);
  --color-info: var(--color-sky-400);
  --color-info-content: var(--color-sky-950);
  --color-success: var(--color-emerald-400);
  --color-success-content: var(--color-emerald-900);
  --color-warning: var(--color-amber-400);
  --color-warning-content: var(--color-amber-950);
  --color-error: var(--color-rose-400);
  --color-error-content: var(--color-rose-950);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

  --color-green: var(--color-emerald-400);
  --color-green-content: var(--color-emerald-900);
  --color-pink: var(--color-pink-400);
  --color-pink-content: var(--color-pink-950);
  --color-blue: var(--color-sky-400);
  --color-blue-content: var(--color-sky-950);
  --color-yellow: var(--color-amber-400);
  --color-yellow-content: var(--color-amber-950);
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
}
